# Libraries

In [1]:
%run "/home/cesar/Python_NBs/HDL_Project/HDL_Project/global_fv.ipynb"

User information is ready!

In [2]:
import os
import glob
import pandas as pd
from pandasql import sqldf

# Data

In [3]:
create_new_files = False

## Reading raw files

In [4]:
file_location = '/Restructured_Data/'
files_list = list(glob.iglob('.{}*22.csv'.format(file_location)))
files_list

[]

## Creating reformatted data files

In [5]:
if create_new_files:
    for file_to_edit in files_list:
        # Editing original raw files
        df = pd.read_csv(file_to_edit)

        # datetime is originally structured as DD/MM/YYYY and will be transformed to YYYY/MM/DD
        day = df['date'].str.slice(0, 2)
        month = df['date'].str.slice(3, 5)
        year = df['date'].str.slice(6, 10)
        time = df['date'].str[11:] + ":00"

        df["datetime_edit"] = year + "-" + month + "-" + day + " " + time

        df["date"] = df["datetime_edit"]
        df = df.drop("datetime_edit", axis = 1)    
        df = df.rename(columns={"date": "datetime"})

        file_to_edit = file_to_edit.replace("./", "")

        rename = file_to_edit
        rename = rename.replace(file_location[1:], "")
        rename = rename.replace("_2015_2022.csv", "").lower()
        rename = "sima_" + rename + ".csv"
        rename = file_location[1:] + rename
        
        # Case-specific edit
        rename = rename.replace("2.5", "25")
        
        df.to_csv(rename, encoding='utf-8', index=False)

# Creating SQL structures

In [6]:
# Reading raw files
file_location = '/Restructured_Data/'
files_list = list(glob.iglob('.{}*sima*.csv'.format(file_location)))

files_list

['./Restructured_Data/sima_co.csv',
 './Restructured_Data/sima_rainf.csv',
 './Restructured_Data/sima_prs.csv',
 './Restructured_Data/sima_tout.csv',
 './Restructured_Data/sima_wsr.csv',
 './Restructured_Data/sima_no.csv',
 './Restructured_Data/sima_wdr.csv',
 './Restructured_Data/sima_nox.csv',
 './Restructured_Data/sima_pm10.csv',
 './Restructured_Data/sima_rh.csv',
 './Restructured_Data/sima_o3.csv',
 './Restructured_Data/sima_so2.csv',
 './Restructured_Data/sima_sr.csv',
 './Restructured_Data/sima_no2.csv',
 './Restructured_Data/sima_pm25.csv']

In [7]:
# Parameters for raw files
files_list = sorted([i[len(file_location)+1:-4] for i in files_list])
data_type = ['F', 'F', 'F', 'F', 'I', 'I', 'I', 'F', 'F', 'I', 'F', 'F', 'I', 'I', 'F']

cols = ['datetime','SE','NE','CE','NO','SO','NO2','NTE','NE2','SE2','SO2','SE3','SUR','NTE2','NE3']

F_types = ['DATETIME NOT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL', 'FLOAT NULL']
I_types = ['DATETIME NOT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL', 'INT NULL']

In [8]:
# Query commands to create SQL tables.
for i in files_list:
    print("CREATE TABLE HDL_Project.`{}` (".format(i))
    for j, k, l in zip(range(len(files_list)), cols, data_type):
        if l == "F":
            dtypes = F_types
        else:
            dtypes = I_types
        
        if j == 0:
            print("`{}` {}".format(k, dtypes[j]))
        else:
            print(", `{}` {}".format(k, dtypes[j]))
    print(") COMMENT = \"Source: {}.csv\";".format(i))
    print("")

CREATE TABLE HDL_Project.`sima_co` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_co.csv";

CREATE TABLE HDL_Project.`sima_no` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_no.csv";

CREATE TABLE HDL_Project.`sima_no2` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_no2.csv";

CREATE TABLE HDL_Project.`sima_nox` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_nox.csv";

CREATE TABLE HDL_Project.`sima_o3` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_o3.csv";

CREATE TABLE HDL_Project.`sima_pm10` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_pm10.csv";

CREATE TABLE HDL_Project.`sima_pm25` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_pm25.csv";

CREATE TABLE HDL_Project.`sima_prs` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_prs.csv";

CREATE TABLE HDL_Project.`sima_rainf` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_rainf.csv";

CREATE TABLE HDL_Project.`sima_rh` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_rh.csv";

CREATE TABLE HDL_Project.`sima_so2` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_so2.csv";

CREATE TABLE HDL_Project.`sima_sr` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_sr.csv";

CREATE TABLE HDL_Project.`sima_tout` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_tout.csv";

CREATE TABLE HDL_Project.`sima_wdr` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_wdr.csv";

CREATE TABLE HDL_Project.`sima_wsr` (
`datetime` DATETIME NOT NULL
, `SE` FLOAT NULL
, `NE` FLOAT NULL
, `CE` FLOAT NULL
, `NO` INT NULL
, `SO` INT NULL
, `NO2` INT NULL
, `NTE` FLOAT NULL
, `NE2` FLOAT NULL
, `SE2` INT NULL
, `SO2` FLOAT NULL
, `SE3` FLOAT NULL
, `SUR` INT NULL
, `NTE2` INT NULL
, `NE3` FLOAT NULL
) COMMENT = "Source: sima_wsr.csv";

# Command lines to insert contents of csv files into SQL tables

SET GLOBAL local_infile=1;

In [9]:
# Command line. Insert CSV files into created MySQL tables
for i in files_list:
    print("mysql -ucesar -pmysql92@ --local-infile HDL_Project -e \"LOAD DATA LOCAL INFILE \'{}.csv\'  INTO TABLE {} FIELDS TERMINATED BY \',\' LINES TERMINATED BY \'\\n\' IGNORE 1 ROWS\"; ".format(i, i))

mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_co.csv'  INTO TABLE sima_co FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_no.csv'  INTO TABLE sima_no FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_no2.csv'  INTO TABLE sima_no2 FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_nox.csv'  INTO TABLE sima_nox FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_o3.csv'  INTO TABLE sima_o3 FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_pm10.csv'  INTO TABLE sima_pm10 FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_pm25.csv'  INTO TABLE sima_pm25 FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_prs.csv'  INTO TABLE sima_prs FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_rainf.csv'  INTO TABLE sima_rainf FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_rh.csv'  INTO TABLE sima_rh FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_so2.csv'  INTO TABLE sima_so2 FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_sr.csv'  INTO TABLE sima_sr FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_tout.csv'  INTO TABLE sima_tout FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_wdr.csv'  INTO TABLE sima_wdr FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";
mysql -ucesar -pmysql92@ --local-infile HDL_Project -e "LOAD DATA LOCAL INFILE 'sima_wsr.csv'  INTO TABLE sima_wsr FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS";

# Backup SQL commands

In [10]:
files_list

['sima_co',
 'sima_no',
 'sima_no2',
 'sima_nox',
 'sima_o3',
 'sima_pm10',
 'sima_pm25',
 'sima_prs',
 'sima_rainf',
 'sima_rh',
 'sima_so2',
 'sima_sr',
 'sima_tout',
 'sima_wdr',
 'sima_wsr']

In [11]:
# DROP TABLE command
for i in files_list:
    print("DROP TABLE HDL_Project.`{}`;".format(i))

DROP TABLE HDL_Project.`sima_co`;
DROP TABLE HDL_Project.`sima_no`;
DROP TABLE HDL_Project.`sima_no2`;
DROP TABLE HDL_Project.`sima_nox`;
DROP TABLE HDL_Project.`sima_o3`;
DROP TABLE HDL_Project.`sima_pm10`;
DROP TABLE HDL_Project.`sima_pm25`;
DROP TABLE HDL_Project.`sima_prs`;
DROP TABLE HDL_Project.`sima_rainf`;
DROP TABLE HDL_Project.`sima_rh`;
DROP TABLE HDL_Project.`sima_so2`;
DROP TABLE HDL_Project.`sima_sr`;
DROP TABLE HDL_Project.`sima_tout`;
DROP TABLE HDL_Project.`sima_wdr`;
DROP TABLE HDL_Project.`sima_wsr`;

# View creation
A view will be created for each station.

In [12]:
col_names = [i[0] for i in qdata("SELECT `station_code` FROM `cat_stations`")]

files_list 

params_list = [i[5:] for i in files_list]

In [13]:
files_list

['sima_co',
 'sima_no',
 'sima_no2',
 'sima_nox',
 'sima_o3',
 'sima_pm10',
 'sima_pm25',
 'sima_prs',
 'sima_rainf',
 'sima_rh',
 'sima_so2',
 'sima_sr',
 'sima_tout',
 'sima_wdr',
 'sima_wsr']

In [14]:
for c in col_names:
    print("CREATE VIEW sima_station_{} AS ".format(c))
    for t, n, k in zip(files_list, params_list, range(len(params_list))):
        if k == 0: 
            select_cols = "Select l{}.datetime, l{}.CE as co".format(k, k)
            table_joins = "from {} l{} ".format(t, k)
        else:
            select_cols = select_cols + ", l{}.{} as {}".format(k, c, n)
            table_joins = table_joins + " left join {} l{} ON l0.datetime = l{}.datetime".format(t, k, k)
            
    print(select_cols) 
    print(table_joins + ";")
    print("")

CREATE VIEW sima_station_SE AS
Select l0.datetime, l0.CE as co, l1.SE as no, l2.SE as no2, l3.SE as nox, l4.SE as o3, l5.SE as pm10, l6.SE as pm25, l7.SE as prs, l8.SE as rainf, l9.SE as rh, l10.SE as so2, l11.SE as sr, l12.SE as tout, l13.SE as wdr, l14.SE as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NE AS
Select l0.datetime, l0.CE as co, l1.NE as no, l2.NE as no2, l3.NE as nox, l4.NE as o3, l5.NE as pm10, l6.NE as pm25, l7.NE as prs, l8.NE as rainf, l9.NE as rh, l10.NE as so2, l11.NE as sr, l12.NE as tout, l13.NE as wdr, l14.NE as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_CE AS
Select l0.datetime, l0.CE as co, l1.CE as no, l2.CE as no2, l3.CE as nox, l4.CE as o3, l5.CE as pm10, l6.CE as pm25, l7.CE as prs, l8.CE as rainf, l9.CE as rh, l10.CE as so2, l11.CE as sr, l12.CE as tout, l13.CE as wdr, l14.CE as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NO AS
Select l0.datetime, l0.CE as co, l1.NO as no, l2.NO as no2, l3.NO as nox, l4.NO as o3, l5.NO as pm10, l6.NO as pm25, l7.NO as prs, l8.NO as rainf, l9.NO as rh, l10.NO as so2, l11.NO as sr, l12.NO as tout, l13.NO as wdr, l14.NO as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_SO AS
Select l0.datetime, l0.CE as co, l1.SO as no, l2.SO as no2, l3.SO as nox, l4.SO as o3, l5.SO as pm10, l6.SO as pm25, l7.SO as prs, l8.SO as rainf, l9.SO as rh, l10.SO as so2, l11.SO as sr, l12.SO as tout, l13.SO as wdr, l14.SO as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NO2 AS
Select l0.datetime, l0.CE as co, l1.NO2 as no, l2.NO2 as no2, l3.NO2 as nox, l4.NO2 as o3, l5.NO2 as pm10, l6.NO2 as pm25, l7.NO2 as prs, l8.NO2 as rainf, l9.NO2 as rh, l10.NO2 as so2, l11.NO2 as sr, l12.NO2 as tout, l13.NO2 as wdr, l14.NO2 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NTE AS
Select l0.datetime, l0.CE as co, l1.NTE as no, l2.NTE as no2, l3.NTE as nox, l4.NTE as o3, l5.NTE as pm10, l6.NTE as pm25, l7.NTE as prs, l8.NTE as rainf, l9.NTE as rh, l10.NTE as so2, l11.NTE as sr, l12.NTE as tout, l13.NTE as wdr, l14.NTE as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NE2 AS
Select l0.datetime, l0.CE as co, l1.NE2 as no, l2.NE2 as no2, l3.NE2 as nox, l4.NE2 as o3, l5.NE2 as pm10, l6.NE2 as pm25, l7.NE2 as prs, l8.NE2 as rainf, l9.NE2 as rh, l10.NE2 as so2, l11.NE2 as sr, l12.NE2 as tout, l13.NE2 as wdr, l14.NE2 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_SE2 AS
Select l0.datetime, l0.CE as co, l1.SE2 as no, l2.SE2 as no2, l3.SE2 as nox, l4.SE2 as o3, l5.SE2 as pm10, l6.SE2 as pm25, l7.SE2 as prs, l8.SE2 as rainf, l9.SE2 as rh, l10.SE2 as so2, l11.SE2 as sr, l12.SE2 as tout, l13.SE2 as wdr, l14.SE2 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_SO2 AS
Select l0.datetime, l0.CE as co, l1.SO2 as no, l2.SO2 as no2, l3.SO2 as nox, l4.SO2 as o3, l5.SO2 as pm10, l6.SO2 as pm25, l7.SO2 as prs, l8.SO2 as rainf, l9.SO2 as rh, l10.SO2 as so2, l11.SO2 as sr, l12.SO2 as tout, l13.SO2 as wdr, l14.SO2 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_SE3 AS
Select l0.datetime, l0.CE as co, l1.SE3 as no, l2.SE3 as no2, l3.SE3 as nox, l4.SE3 as o3, l5.SE3 as pm10, l6.SE3 as pm25, l7.SE3 as prs, l8.SE3 as rainf, l9.SE3 as rh, l10.SE3 as so2, l11.SE3 as sr, l12.SE3 as tout, l13.SE3 as wdr, l14.SE3 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_SUR AS
Select l0.datetime, l0.CE as co, l1.SUR as no, l2.SUR as no2, l3.SUR as nox, l4.SUR as o3, l5.SUR as pm10, l6.SUR as pm25, l7.SUR as prs, l8.SUR as rainf, l9.SUR as rh, l10.SUR as so2, l11.SUR as sr, l12.SUR as tout, l13.SUR as wdr, l14.SUR as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

CREATE VIEW sima_station_NTE2 AS
Select l0.datetime, l0.CE as co, l1.NTE2 as no, l2.NTE2 as no2, l3.NTE2 as nox, l4.NTE2 as o3, l5.NTE2 as pm10, l6.NTE2 as pm25, l7.NTE2 as prs, l8.NTE2 as rainf, l9.NTE2 as rh, l10.NTE2 as so2, l11.NTE2 as sr, l12.NTE2 as tout, l13.NTE2 as wdr, l14.NTE2 as wsr
from sima_co l0  left join sima_no l1 ON l0.datetime = l1.datetime left join sima_no2 l2 ON l0.datetime = l2.datetime left join sima_nox l3 ON l0.datetime = l3.datetime left join sima_o3 l4 ON l0.datetime = l4.datetime left join sima_pm10 l5 ON l0.datetime = l5.datetime left join sima_pm25 l6 ON l0.datetime = l6.datetime left join sima_prs l7 ON l0.datetime = l7.datetime left join sima_rainf l8 ON l0.datetime = l8.datetime left join sima_rh l9 ON l0.datetime = l9.datetime left join sima_so2 l10 ON l0.datetime = l10.datetime left join sima_sr l11 ON l0.datetime = l11.datetime left join sima_tout l12 ON l0.datetime = l12.datetime left join sima_wdr l13 ON l0.datetime = l13.datetime left join sima_wsr l14 ON l0.datetime = l14.datetime;

# Data Understanding
After inserting information to SQL tables

## How many days have less than 24 hours?
There are two scenarios:
* If there are any, then the date sequence is incomplete.
* If the query returns empty, then the sequence is complete

In [15]:
for i in files_list:
    sqlq = """
    select * from (
    select year, month, day, count(*) as conteo from (
        SELECT *, year(datetime) as `year`, month(datetime) as `month`, day(datetime) as `day`, hour(datetime) as `hour` FROM `{}`
    ) s1
    GROUP by year, month, day
    ) s2
    where conteo <24
    """.format(i)
    days_evaluation = qdata(sqlq)
    
    if days_evaluation:
        print("{}".format(i))
        print("Days with less than 24H: {}".format(days_evaluation))
        print("")

sima_no
Days with less than 24H: [(2015, 8, 1, 1), (2015, 8, 2, 1), (2015, 8, 3, 1), (2015, 8, 4, 1), (2015, 8, 5, 1), (2015, 8, 6, 1), (2015, 8, 7, 1), (2015, 8, 8, 1), (2015, 8, 9, 1), (2015, 8, 10, 1), (2015, 8, 11, 1), (2015, 8, 12, 1), (2015, 8, 13, 1), (2015, 8, 14, 1), (2015, 8, 15, 1), (2015, 8, 16, 1), (2015, 8, 17, 1), (2015, 8, 18, 1), (2015, 8, 19, 1), (2015, 8, 20, 1), (2015, 8, 21, 1), (2015, 8, 22, 1), (2015, 8, 23, 1), (2015, 8, 24, 1), (2015, 8, 25, 1), (2015, 8, 26, 1), (2015, 8, 27, 1), (2015, 8, 28, 1), (2015, 8, 29, 1), (2015, 8, 30, 1), (2015, 8, 31, 1), (2015, 9, 1, 1), (2015, 9, 2, 1), (2015, 9, 3, 1), (2015, 9, 4, 1), (2015, 9, 5, 1), (2015, 9, 6, 1), (2015, 9, 7, 1), (2015, 9, 8, 1), (2015, 9, 9, 1), (2015, 9, 10, 1), (2015, 9, 11, 1), (2015, 9, 12, 1), (2015, 9, 13, 1), (2015, 9, 14, 1), (2015, 9, 15, 1), (2015, 9, 16, 1), (2015, 9, 17, 1), (2015, 9, 18, 1), (2015, 9, 19, 1), (2015, 9, 20, 1), (2015, 9, 21, 1), (2015, 9, 22, 1), (2015, 9, 23, 1), (2015, 9, 24, 1), (2015, 9, 25, 1), (2015, 9, 26, 1), (2015, 9, 27, 1), (2015, 9, 28, 1), (2015, 9, 29, 1), (2015, 9, 30, 1)]

sima_nox
Days with less than 24H: [(2015, 8, 1, 1), (2015, 8, 2, 1), (2015, 8, 3, 1), (2015, 8, 4, 1), (2015, 8, 5, 1), (2015, 8, 6, 1), (2015, 8, 7, 1), (2015, 8, 8, 1), (2015, 8, 9, 1), (2015, 8, 10, 1), (2015, 8, 11, 1), (2015, 8, 12, 1), (2015, 8, 13, 1), (2015, 8, 14, 1), (2015, 8, 15, 1), (2015, 8, 16, 1), (2015, 8, 17, 1), (2015, 8, 18, 1), (2015, 8, 19, 1), (2015, 8, 20, 1), (2015, 8, 21, 1), (2015, 8, 22, 1), (2015, 8, 23, 1), (2015, 8, 24, 1), (2015, 8, 25, 1), (2015, 8, 26, 1), (2015, 8, 27, 1), (2015, 8, 28, 1), (2015, 8, 29, 1), (2015, 8, 30, 1), (2015, 8, 31, 1), (2015, 9, 1, 1), (2015, 9, 2, 1), (2015, 9, 3, 1), (2015, 9, 4, 1), (2015, 9, 5, 1), (2015, 9, 6, 1), (2015, 9, 7, 1), (2015, 9, 8, 1), (2015, 9, 9, 1), (2015, 9, 10, 1), (2015, 9, 11, 1), (2015, 9, 12, 1), (2015, 9, 13, 1), (2015, 9, 14, 1), (2015, 9, 15, 1), (2015, 9, 16, 1), (2015, 9, 17, 1), (2015, 9, 18, 1), (2015, 9, 19, 1), (2015, 9, 20, 1), (2015, 9, 21, 1), (2015, 9, 22, 1), (2015, 9, 23, 1), (2015, 9, 24, 1), (2015, 9, 25, 1), (2015, 9, 26, 1), (2015, 9, 27, 1), (2015, 9, 28, 1), (2015, 9, 29, 1), (2015, 9, 30, 1)]

## How many days are per year-month

In [16]:
for i in files_list:
    sqlq = """
    select count(*) from (
    select year, month, count(*)/24 as conteo from (
        SELECT *, year(datetime) as `year`, month(datetime) as `month`, day(datetime) as `day`, hour(datetime) as `hour` FROM `{}`
    ) s1
    GROUP by year, month
    ) s2
    """.format(i)
    
    print("{}".format(i))
    print(qdata(sqlq))
    print("")

sima_co
[(88,)]

sima_no
[(89,)]

sima_no2
[(88,)]

sima_nox
[(89,)]

sima_o3
[(88,)]

sima_pm10
[(88,)]

sima_pm25
[(88,)]

sima_prs
[(88,)]

sima_rainf
[(88,)]

sima_rh
[(88,)]

sima_so2
[(88,)]

sima_sr
[(88,)]

sima_tout
[(88,)]

sima_wdr
[(88,)]

sima_wsr
[(88,)]